:host {
    margin: 0 auto;
    height: 100vh;
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.button-wrapper{
    display: flex;
    justify-content: center;
}

.link-wrapper{
    display: flex;
    justify-content: center;
    font-size: 12px;

    a{
        text-decoration: none;
    }
}